{% extends "base.html" %}

{% block title %}
   BlogiFy Cambiar Contraseña
{% endblock %}

{% block content %}

    <form method="POST">
        {% csrf_token %}
        <div class="container">
            <a href="{% url 'Profile' %}">regresar</a>
            
            <div class="form-floating">
                <input type="password" name="old_password" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="form-control" placeholder="">
               
                <label for="id_username">Contraseña anterior</label>
                <p>Por favor indicar su contraseña anterior</p>
            </div>
            

            <div class="form-floating">
                <input type="password" name="new_password1" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="form-control" placeholder="">
               
                <label for="id_username">Nueva Contraseña</label>
                <p>Por favor indicar su nueva contraseña considerando lo siguiente:
                    <ul>
                        <li>Su contraseña no puede ser demasiado similar a su otra información personal.</li>
                        <li>Su contraseña debe contener al menos 8 caracteres.</li>
                        <li>Su contraseña no puede ser una contraseña de uso común.</li>
                        <li>Su contraseña no puede ser completamente numérica.</li>
                    </ul>
                </p>
            </div>

            <div class="form-floating">
                <input type="password" name="new_password2" maxlength="150" autocapitalize="none" autocomplete="username" autofocus="" required="" id="id_username" class="form-control" placeholder="">
               
                <label for="id_username">Confirmación nueva contraseña</label>
                <p>Por favor confirmar su nueva contraseña </p>
            </div>

        </div>  

        <div style="text-align: center;">
            <div>
                <label>{{mensaje}}</label>
            </div>  
            <input type="submit" value="Actualizar"/>
        </div>                
    </form>

{% endblock %}