{% extends "base.html" %}
{% block content %}
<div class="text-center" style="width: 50%;margin: auto;">
  <main class="form-signin w-100 m-auto">
    <div style="text-align:center">
      <img class="mb-4" src="/media/blogify.png" alt="" width="72" height="57">
    </div>
    <h1 class="h3 mb-3 fw-normal">Por favor iniciar sesión</h1>
    <form method="post">
      {% csrf_token %}
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingUserInputMessage" placeholder="Nombre de Usuario"
          name="username">
        <label for="floatingUserInputMessage">Nombre de usuario</label>
        <p></p>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPasswordInputMessage" placeholder="Contraseña"
          name="password">
        <label for="floatingPasswordInputMessage">Contraseña</label>
        <p></p>
      </div>
      <input type="submit" value="Ingresar">
      <label style="color:red;font-weight:bold">{{message}}</label>
      <br/>
    </form>

  </main>
</div>
{% endblock %}