{% extends "base.html" %}
{% block title %}
Iniciar sesión
{% endblock %}

{% block content %}
<div class="text-center" style="width: 50%;margin: auto;">
  <main class="form-signin w-100 m-auto">
    <form method="post">
      {% csrf_token %}
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingUserInputMessage" placeholder="Nombre de Usuario"
          name="username">
        <label for="floatingUserInputMessage">Nombre de usuario</label>
        <p></p>
      </div>
      <div class="form-floating">
        <input type="password" class="form-control" id="floatingPasswordInputMessage" placeholder="Contraseña"
          name="password">
          <i class="far fa-eye" id="togglePassword" style="cursor: pointer;margin-top: -38px;position: absolute;right: 12px;font-size: 20px;"></i>
        <label for="floatingPasswordInputMessage">Contraseña</label>
        <p></p>
      </div>
      <input type="submit" value="Ingresar">
      <div>
        <label style="color:red;font-weight:bold">{{message}}</label>
      </div>      
      <p></p>
    </form>

  </main>
</div>
<script>
  const togglePassword = document.querySelector('#togglePassword');
  const password = document.querySelector('#floatingPasswordInputMessage');

  togglePassword.addEventListener('click', function (e) {
    // toggle the type attribute
    const type = password.getAttribute('type') === 'password' ? 'text' : 'password';
    password.setAttribute('type', type);
    // toggle the eye slash icon
    this.classList.toggle('fa-eye-slash');
});
</script>
{% endblock %}