{% extends "base.html" %}

{% block title %}
Mi perfil
{% endblock %}

{% block content %}
<form action="" method="POST">
    {% csrf_token %}
    <div class="container">
        <a href="{% url 'BlogifyPageList' %}">Regresar</a>
        <p></p>
        <div>
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Mi perfil
            </h3>
        </div>
        <div>            
            <a href="{% url 'AccountChangePass' %}">Cambiar contraseña</a>
        </div>
        <p></p>
        {% if message is not None%}        
        <div style="color:green;text-align: center;margin: 19px;">
            <label>{{message}}</label>
        </div>
        {% endif%}
        
        <div class="form-floating">
            <input type="text" name="username" maxlength="150" autocapitalize="none" autocomplete="username"
                autofocus="" required="" id="id_username" class="form-control" placeholder="" value="{{user.username}}"
                disabled="disabled">

            <label for="id_username">Nombre de usuario</label>
            <p></p>
        </div>

        <div class="form-floating">
            <input type="text" name="first_name" maxlength="150" id="id_first_name" class="form-control" placeholder=""
                value="{{user.first_name}}">
            <label for="id_first_name">Nombres</label>
            <p></p>
        </div>

        <div class="form-floating">
            <input type="text" name="last_name" maxlength="150" id="id_last_name" class="form-control" placeholder=""
                value="{{user.last_name}}">
            <label for="id_last_name">Apellidos</label>
            <p></p>
        </div>

        <div class="form-floating">
            <input type="text" name="email" maxlength="150" id="id_email" class="form-control" placeholder=""
                value="{{user.email}}">
            <label for="id_email">Email</label>
            <p></p>
        </div>

        <div class="form-floating">
            <textarea name="description" id="id_description" class="form-control" style="height: 80px;"
                placeholder="">{{profile.description}}</textarea>
            <label for="id_description">Acerca de mí</label>
            <p></p>
        </div>

        <div class="form-floating">
            <input type="hidden" class="form-control" id="image" name="image" value="{{blog.image.id}}">
            <div class="dropdown">
                <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
                    aria-haspopup="true" aria-expanded="true">Foto de perfil
                </button>
                <ul class="dropdown-menu">
                    {% for image in images %}
                    <li style="text-align:center">
                        <a href="#!" onclick='select_img_blog("{{image.id}}","{{image.title}}")'
                            title="{{image.title}}">
                            <img src="/media/{{image.image}}" width="100px" />
                        </a>
                    </li>
                    {% endfor %}
                </ul>
                <p class="StyleSubTitle">Todas las imágenes deben estar subidas previamente en la sección <a
                        href="{% url 'BlogifyImages' %}">Imágenes</a></p>
            </div>
        </div>

        <div class="form-floating">
            <input type="text" name="url_site" id="id_url_site" class="form-control" placeholder=""
                value="{{profile.url_site}}">
            <label for="id_url_site">URL de linkedIn</label>
            <p></p>
        </div>

    </div>
    <div style="text-align: center;">
        <input type="submit" value="Actualizar" />
    </div>
    <p></p>
</form>
<script>
    if ("{{profile.image.id}}" !== "") {
        select_img_blog("{{profile.image.id}}", "{{profile.image.title}}")
    }
    function select_img_blog(image_id, image_title) {
        $("#image").val(image_id)
        $("#dropdownMenu1").text(image_title)
    }
</script>
{% endblock %}