{% extends "base.html" %}

{% block title %}
Cambiar contraseña
{% endblock %}

{% block content %}

<form method="POST">
    {% csrf_token %}
    <div class="container">
        <a href="{% url 'Profile' %}">Regresar</a>
        <p></p>
        <div>
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                Cambiar contraseña
            </h3>
        </div>
        <p></p>
        <div class="form-floating">
            <input type="password" name="old_password" maxlength="150" autocapitalize="none" autocomplete="username"
                autofocus="" required="" id="id_username" class="form-control" placeholder="">
                <i class="far fa-eye" id="toggle_old_password" style="cursor: pointer;margin-top: -38px;position: absolute;right: 12px;font-size: 20px;"></i>
            <label for="id_username">Contraseña actual</label>
            
            <p class="StyleSubTitle">Por favor ingrese su contraseña actual</p>
        </div>
        <div class="form-floating">
            <input type="password" name="new_password1" maxlength="150" autocapitalize="none" autocomplete="username"
                autofocus="" required="" id="id_username" class="form-control" placeholder="">
            <i class="far fa-eye" id="toggle_new_password1" style="cursor: pointer;margin-top: -38px;position: absolute;right: 12px;font-size: 20px;"></i>
            <label for="id_username">Nueva contraseña</label>
            <div class="StyleSubTitle">Por favor registre su nueva contraseña considerando lo siguiente:</div>
            <div class="StyleSubTitle">- Su contraseña no puede contener información personal</div>
            <div class="StyleSubTitle">- Su contraseña debe contener al menos 8 caracteres</div>
            <div class="StyleSubTitle">- Su contraseña no puede ser completamente numérica</div>
            <p></p>
        </div>
        <div class="form-floating">
            <input type="password" name="new_password2" maxlength="150" autocapitalize="none" autocomplete="username"
                autofocus="" required="" id="id_username" class="form-control" placeholder="">
                <i class="far fa-eye" id="toggle_new_password2" style="cursor: pointer;margin-top: -38px;position: absolute;right: 12px;font-size: 20px;"></i>
            <label for="id_username">Confirmar nueva contraseña</label>
            <p class="StyleSubTitle">Por favor confirme su nueva contraseña</p>
        </div>
    </div>
    <div style="text-align: center;">
        <div>
            <label>{{mensaje}}</label>
        </div>
        <input type="submit" value="Confirmar" />
        <p></p>
    </div>
</form>
<script>
    $(function(){
        $("input[type='password']").each(function(index,inputPassword){
            var togglePassword=$("#toggle_"+$(inputPassword).attr("name"))
            togglePassword.click(function (e) {
                // toggle the type attribute
                const type = inputPassword.getAttribute('type') === 'password' ? 'text' : 'password';
                inputPassword.setAttribute('type', type);
                // toggle the eye slash icon
                this.classList.toggle('fa-eye-slash');
            });
        })               
    })
</script>
{% endblock %}