{% extends "base.html" %}

{% block title %}
Detall de página
{% endblock %}

{% block content %}

<main class="container">
    <div class="row g-5">
        <div class="col-md-12">
            <a href="{% url 'Home' %}">Regresar</a>
            <hr>
            <h3>{{page.title}}</h3>
            <article class="blog-post">
                {% if page.image.image is not None%}
                <div style="text-align:center">
                    <img src="/media/{{page.image.image}}" title="{{page.image.title}}" style="max-width: 410px;" />
                    <p class="blog-post-meta" style="width:100%;font-size: 10px;">
                        Fecha de publicación {{page.image.creation|date:'Y-m-d'}}
                    </p>
                </div>
                {% endif %}

                {% autoescape off %}
                {{page.content}}
                {% endautoescape %}
                <hr>
            </article>
        </div>
    </div>
</main>
{% endblock %}