{% extends "base.html" %}

{% block title %}
Listado de páginas
{% endblock %}

{% block content %}

<main class="container">
    <div class="row g-5">
        <div class="col-md-12">
            <a href="{% url 'Home' %}">Regresar</a>
            <p></p>          
            <ul>
                {% for page in pages %}
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">{{page.title}}</h2>
                    <p></p>
                    {% if page.image.image is not None%}
                    <div>
                        <img src="/media/{{page.image.image}}" title="{{page.image.title}}" style="max-width: 200px;" />
                        <p class="blog-post-meta" style="width:100%;font-size: 11px;">
                            Imagen publicada el {{page.image.creation|date:'Y-m-d'}}
                        </p>
                    </div>
                    {% endif %}
                    {% autoescape off %}
                    {{page.content}}
                    {% endautoescape %}

                    <div>
                        {% if is_authenticated == True %}
                        <a href="{% url 'AboutMeUpdate' page.id %}">Editar</a>
                        <a href="{% url 'AboutMeDelete' page.id %}">| Eliminar</a>
                        {% endif %}
                    </div>
                </article>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}