{% extends "base.html" %}

{% block title %}
BlogiFy Blog Detail
{% endblock %}

{% block content %}

<main class="container">
    <div class="row g-5">
        <div class="col-md-12">
            <a href="{% url 'BlogifyBlogsList' %}">Regresar</a>
            <hr>
            <article class="blog-post">                
                <h3>{{blog.title}}</h3>                
                <div style="width:100%;font-size: 12px;">{{blog.creation|date:'Y-m-d'}}</div>
                <div style="width:100%;font-size: 12px;">Publicado por <b>{{blog.author}}</b></div>
                {% if blog.image.image is not None%}
                <div style="text-align:center">
                    <img src="/media/{{blog.image.image}}" title="{{blog.image.title}}" style="max-width: 410px;" />
                    <p class="blog-post-meta" style="width:100%;font-size: 10px;">
                        Fecha de publicación {{blog.image.creation|date:'Y-m-d'}}
                    </p>
                </div>
                {% endif %}
                {% autoescape off %}
                {{blog.body}}
                {% endautoescape %}
            </article>
        </div>
    </div>
</main>

{% endblock %}