{% extends "base.html" %}

{% block title %}
BlogiFy Blog Detail
{% endblock %}

{% block content %}

<main class="container">
    <div class="row g-5">
        <div class="col-md-12">
            <a href="{% url 'BlogifyBlogsList' %}">Regresar</a>
            <hr>
            <article class="blog-post">
                <div style="text-align:center">
                    <h3 class="pb-4 mb-4 fst-italic border-bottom">
                        {{blog.title}}
                    </h3>
                </div>
                <p class="blog-post-meta">{{blog.creation|date:'Y-m-d H:i '}} publicado por <b>{{blog.author}}</b></p>
                {% if blog.image.image is not None%}
                <img src="/media/{{blog.image.image}}" title="{{blog.image.title}}" />
                <p class="blog-post-meta" style="width:100%;font-size: 10px;">
                    Fecha de publicación {{blog.image.creation|date:'Y-m-d'}}
                </p>
                {% endif %}

                {% autoescape off %}
                {{blog.body}}
                {% endautoescape %}
            </article>
        </div>
    </div>
</main>

{% endblock %}