<style>
    .no-link {
        text-decoration: none;
        color: black
    }
</style>
<div class="container">
    <header class="blog-header lh-1 py-3">
        <div class="row flex-nowrap justify-content-between align-items-center">
            <div class="col-12">
                <img class="mb-4" src="/media/blogify.png"  height="30">
                <a class="blog-header-logo text-dark" href="/" style="font-size: 35px;">Blogify</a>
                {% if is_authenticated == True %}
                <div style="margin-top:10px;text-align: right;">
                    Bienvenido
                    <a href="/accounts/profile/" class="no-link">                         
                        <b>{{greeting}}</b>
                        {% if profile is not None and profile.image is not None %}
                        <img src="/media/{{profile.image.image}}" width="40px"/>
                        {% endif %}
                    </a>                    
                </div>
                {% endif %}
            </div>
        </div>
    </header>

    <div class="nav-scroller py-1 mb-2">
        <nav class="nav d-flex justify-content-between" style="float:right">
            {% if is_authenticated == True%}
            <a class="p-2 link-secondary" href="/accounts/logout">Cerrar sesión</a>
            {% else %}
            <a class="p-2 link-secondary" href="/accounts/signup">Regístrate</a>
            <a class="p-2 link-secondary" href="/accounts/login">Iniciar sesión</a>
            {% endif %}
        </nav>
    </div>

    <nav class="nav d-flex xjustify-content-between">
        {% if is_home == True %}
        <a class="p-2 link-secondary" href="/">Inicio</a>
        {% endif %}        
        {% if is_authenticated == True and is_show == True %}
        <a class="p-2 link-secondary" href="/accounts/profile">Mi perfil</a>
        <a class="p-2 link-secondary" href="/blogify/chat">Chat</a>
        <a class="p-2 link-secondary" href="/blogify/images">Imágenes</a>
          
        {% endif %}  
        {% if is_show == True %}
        <a class="p-2 link-secondary" href="/blogify/acerca-de-mi">Acerca de mí</a>   
        <a class="p-2 link-secondary" href="/blogify/blogs">Blogs</a>
        {% endif %}
    </nav>
</div>