{% extends "base.html" %}

{% block title %}
   BlogiFy Image
{% endblock %}

{% block content %}

<div class="container">
  <a href="{% url 'BlogifyInit' %}">regresar</a>
  <form method="post" enctype="multipart/form-data">
    {% csrf_token %}
     <!-- {{ form.as_p }}-->
      <div class="form-floating">
        <input type="text" class="form-control" id="floatingImageInputTitle" placeholder="Titulo de la Imagen" name="title">
        <label for="floatingImageInputTitle">Título de la imagen</label>
        <p></p>
      </div>
      <div class="form-floating">
        <input type="file" class="form-control" id="floatingImageInputImage" placeholder="Imagen" name="image">
        <label for="floatingImageInputImage"></label>
        <p></p>
      </div>

      <div class="form-floating">
        {% if img_obj %}
          <img src="{{ img_obj.image.url}}" alt="connect" style="max-height:300px">
          <p>Imágen cargada exitósamente: <br><b>{{img_obj.title}}</b></p>
        {% endif %}
        <p></p>
      </div>

      <div style="text-align: center;">
          <button type="submit">Cargar</button>
      </div>    
  </form>
</div>

<main class="container">      
  <div class="row g-5">
      <div class="col-md-12">
          <h3 class="pb-4 mb-4 fst-italic border-bottom">
              Lista de Imágenes
          </h3>  
          <ul>
              {% for image in imageList %}            
              <article>                                          
                  <p>                    
                    <img src="/media/{{image.image}}" style="width: 100px;"/>
                    <label>{{image.title}}</label>
                    <a href="{% url 'BlogifyImageDelete' image.id %}">Eliminar</a>
                  </p>                                                                                  
                  <hr>                
              </article>
              {% endfor %} 
          </ul>
      </div>         
  </div>  
</main>
{% endblock %}