{% extends "base.html" %}

{% block title %}
Actualizar página
{% endblock %}

{% block content %}
<script src="//cdn.ckeditor.com/4.19.1/standard/ckeditor.js"></script>
<main class="container">
    <a href="{% url 'BlogifyPageList' %}">Regresar</a>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="row g-5">
                <div class="col-md-12">
                    <div class="form-floating">
                        <input type="text" class="form-control" id="floatingTitleInputMessage"
                            placeholder="Título de la página" name="title" value="{{page.title}}">
                        <label for="floatingTitleInputMessage">Título de la página</label>
                        <p></p>
                    </div>

                    <div class="form-floating">
                        <input type="hidden" class="form-control" id="image" name="image" value="{{blog.image.id}}">
                        <div class="dropdown">
                            <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">Seleccione una imagen
                            </button>
                            <ul class="dropdown-menu">
                                {% for image in images %}
                                <li style="text-align:center">
                                    <a href="#!" onclick='select_img_blog("{{image.id}}","{{image.title}}")'
                                        title="{{image.title}}">
                                        <img src="/media/{{image.image}}" width="100px" />
                                    </a>
                                </li>
                                {% endfor %}
                            </ul>
                        </div>
                        <p>Todas las imágenes deben estar subidas previamente en la sección <a
                                href="{% url 'BlogifyImages' %}">Imágenes</a></p>
                    </div>

                    <div class="django-ckeditor-widget" data-field-id="id_content"
                        style="display: inline-block;width:100%">
                        <textarea name="content" cols="40" rows="10" id="id_content" data-processed="0"
                            data-config="{&quot;skin&quot;: &quot;moono-lisa&quot;, &quot;toolbar_Basic&quot;: [[&quot;Source&quot;, &quot;-&quot;, &quot;Bold&quot;, &quot;Italic&quot;]], &quot;toolbar_Full&quot;: [[&quot;Styles&quot;, &quot;Format&quot;, &quot;Bold&quot;, &quot;Italic&quot;, &quot;Underline&quot;, &quot;Strike&quot;, &quot;SpellChecker&quot;, &quot;Undo&quot;, &quot;Redo&quot;], [&quot;Link&quot;, &quot;Unlink&quot;, &quot;Anchor&quot;], [&quot;Image&quot;, &quot;Flash&quot;, &quot;Table&quot;, &quot;HorizontalRule&quot;], [&quot;TextColor&quot;, &quot;BGColor&quot;], [&quot;Smiley&quot;, &quot;SpecialChar&quot;], [&quot;Source&quot;]], &quot;toolbar&quot;: &quot;Full&quot;, &quot;height&quot;: 291, &quot;width&quot;: 835, &quot;filebrowserWindowWidth&quot;: 940, &quot;filebrowserWindowHeight&quot;: 725, &quot;language&quot;: &quot;en-us&quot;}"
                            data-external-plugin-resources="[]" data-id="id_content" data-type="ckeditortype">
                                    {{page.content}}
                                </textarea>
                    </div>

                    <div style="text-align: center;">
                        <input type="submit" value="Actualizar" />
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>
</main>
<script>
    CKEDITOR.replace('id_content',);
    if ("{{page.image.id}}" !== "") {
        select_img_blog("{{page.image.id}}", "{{page.image.title}}")
    }
    function select_img_blog(image_id, image_title) {
        $("#image").val(image_id)
        $("#dropdownMenu1").text(image_title)
    }
</script>
{% endblock %}