{% extends "base.html" %}

{% block title %}
   BlogiFy Page Detail
{% endblock %}

{% block content %}

<main class="container">      
    <div class="row g-5">
        <div class="col-md-12">
            <h3 class="pb-4 mb-4 fst-italic border-bottom">
                {{page.title}}
            </h3>  
            <a href="{% url 'BlogifyPageList' %}">Regresar</a>
            <ul>
                <article class="blog-post">
                    {% if page.image.image is not None%}
                        <img src="/media/{{page.image.image}}" title="{{page.image.title}}"/>
                        <p class="blog-post-meta" style="width:100%;font-size: 10px;">
                            Fecha de publicación {{page.image.creation|date:'Y-m-d'}}                                                               
                        </p>                            
                    {% endif %}

                    {% autoescape off %}
                        {{page.content}}
                    {% endautoescape %}
                    <hr>                
                </article>
            </ul>
        </div>         
    </div>  
</main>

{% endblock %}