{% extends "base.html" %}

{% block title %}
BlogiFy Page Update
{% endblock %}

{% block content %}
<main class="container">
    <a href="{% url 'BlogifyPageList' %}">Regresar</a>
    <hr>
    <h3 class="pb-4 mb-4 fst-italic">
        ¿Desea eliminar:
    </h3>
    <div class="container">
        <form method="POST">
            {% csrf_token %}
            <div class="row g-5">
                <div class="col-md-12">

                    <h4 class="pb-4 mb-4 fst-italic border-bottom">
                        {{page.title}}
                    </h4>
                    <div style="text-align: center;">
                        <input type="submit" value="Aceptar" />
                    </div>
                    <br>
                </div>
            </div>
        </form>
    </div>
</main>
{% endblock %}