{% extends "base.html" %}

{% block title %}
Listado de páginas
{% endblock %}

{% block content %}

<main class="container">
    <div class="row g-5">
        <div class="col-md-12">
            <p></p>
            <div>
                <h3 class="pb-4 mb-4 fst-italic border-bottom">
                    Listado de páginas
                </h3>
            </div>
            {% if is_authenticated == True %}
            <a href="{% url 'BlogifyPageCreate' %}">Crear nueva página</a>
            {% endif %}
            <ul>
                {% for page in pages %}
                <article class="blog-post">
                    <h2 class="blog-post-title mb-1">{{page.title}}</h2>

                    {% if page.image.image is not None%}
                    <div style="text-align:center">
                        <img src="/media/{{page.image.image}}" title="{{page.image.title}}" style="max-width: 410px;" />
                        <p class="blog-post-meta" style="width:100%;font-size: 10px;">
                            Fecha de publicación {{page.image.creation|date:'Y-m-d'}}
                        </p>
                    </div>
                    {% endif %}
                    {% autoescape off %}
                    {{page.content|truncatechars:400}}
                    {% endautoescape %}

                    <div>
                        {% if is_authenticated == True %}
                            <a href="{% url 'BlogifyPageDetail' page.id%}">Leer más</a>  
                        {% endif %}                                                                      
                        {% if is_authenticated == True and user.username == 'root' %}
                        <a href="{% url 'BlogifyPageUpdate' page.id %}">| Editar</a>
                        <a href="{% url 'BlogifyPageDelete' page.id %}">| Eliminar</a>
                        {% endif %}
                    </div>
                </article>
                {% endfor %}
            </ul>
        </div>
    </div>
</main>

{% endblock %}